<h1>Admin::Items#index</h1>
<p>Find me in app/views/admin/items/index.html.erb</p>

<h1>商品一覧</h1>

<% @items.each do |item| %>
    
    <%= link_to admin_item_path(item.id) do %>   
        <%= item.name %>
    <% end %>
    
    <% if item.image.attached? %>
	    <%= image_tag item.image, size:"200x200" %>
    <% else %>
    	<%= image_tag 'no_image', size:"200x200" %>
    <% end %>
    
    <%= item.explanation %>
    
    <p>税込単価</p>
    <%= item.price %><span>円</span>
<% end %>