<h1>Admin::Items#new</h1>
<p>Find me in app/views/admin/items/new.html.erb</p>

<!--商品投稿-->
<%= form_with model:@item, url:'/admin/items' do |f| %>

    <%= f.text_field :name, placeholder:"商品名" %>
	<%= f.text_area :explanation, placeholder:"商品説明" %>
	<%= f.file_field :image, accept:"image/*" %>
	<%= f.select :genre_id, Genre.all.map{ |genre| [genre.name, genre.id] } %>
	<%= f.select :style_id, Style.all.map{ |style| [style.name, style.id] } %>
	<%= f.text_field :price, placeholder:"税込価格" %><span>円</span>
	<%= f.submit '投稿' %>
	
<% end %>


<!--ジャンル新規登録-->
<%= form_with model:@genre, url:'/admin/genres' do |f| %>
	<%= f.text_field :name, placeholder:"ジャンル名" %>
	<%= f.submit '新規登録' ,class:'btn btn-outline-success' %>
<% end %>


<!--スタイル新規登録-->
<%= form_with model:@style, url:'/admin/styles' do |f| %>
	<%= f.text_field :name, placeholder:"スタイル名" %>
	<%= f.submit '新規登録' ,class:'btn btn-outline-success' %>
<% end %>