<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>

<!--商品詳細-->
<%= @item.name %>

<% if @item.image.attached? %>
    <%= image_tag @item.image, size:"400x400" %>
<% else %>
    <%= image_tag 'no_image', size:"400x400" %>
<% end %>

<%= @item.explanation %>

<p>税込単価</p>
<%= @item.price %><span>円</span>


<!--いいね機能-->
<% if @item.favorited_by?(current_customer) %>
	<p>
		<%= link_to item_favorites_path, method: :delete do %>
			❤
		<% end %>
		<%= @item.favorites.count %>いいね
	</p>
<% else %>
	<p>
		<%= link_to item_favorites_path, method: :post do %>
			♡
		<% end %>
		<%= @item.favorites.count %>いいね
	</p>
<% end %>
    